.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}

.has-bg-img {
  background-image: url('/images/mac-logo-blue.png');
  background-repeat: no-repeat;
  background-position: 1em center;
  padding-left: 130px;
}

.has-bg-img {
  background-image: url('https://lh6.googleusercontent.com/2se4_sTcMieEDVJC_VMuSztZPw2CUWSVGfUfFVyVn0fegUaMSG84EzK2zJkFuNYB69lr3EM_7fMM7Jq66zmWviRXesa4vEo4CJhT0tB05StSBkQG6404eSZjPKpdHS4Ki1nBWf2Y-X7Mb64');
  background-size: cover;
  background-position: center;
}

mark {
    color: #111;
    background-color:rgba(128,128,128,0.2);
}